<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Predict The Virus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/jpg" href="../assets/images/icon.jpg" sizes="16x16">
    <link rel="stylesheet" href="../assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap-social.min.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target='#Navbar'>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html"><span class="fa fa-home fa-lg"></span> Home </a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-info fa-lg"></span> Forecast </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/vis.html"><span class="fa fa-chart-area fa-lg"></span> Visualization </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/news.html"><span class="fa fa-newspaper fa-lg"></span> News </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/research.html"><span class="fa fa-book fa-lg"></span> Research </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/policy.html"><span class="fa fa-balance-scale fa-lg"></span> Policy </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/market.html"><span class="fa fa-dollar-sign fa-lg"></span> Market </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/who_updates.html"><span class="fa fa-hospital fa-lg"></span> WHO Updates </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/charts.html"><span class="fa fa-chart-bar fa-lg"></span> Charts </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="row align-items-center">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item active">Forecast</li>
            </ol>
            
        </div>
        <div class="row row-content align-items-center">
            <h2 class="col-12">US COVID Cases Daily Increase</h2>
            <div class="col-12">
                <br>
                <p class="text-justify">The following are the prediction results from our recurrent neural network model. Specially, the model contains two LSTM layers and three dense layers and is trained over JHU’s COVID case data since January 2020. In the training, it was found that the optimal “window size” (the number of days used to predict the following day in time series prediction) is 10. This could be interpreted as that the daily case increase is most related to the increases in the preceding 10 days, which is unsurprising because of the high rate of spread.</p>
            </div>
            <div class="col loading">
                <div class="d-flex flex-row">
                    <div class="p-2">Loading Graph....</div>
                    <div class="p-2">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>                  
                </div>
            </div>

            <div class="col-12" id="curve_chart_us_cases" style="width: 1000px; height: 500px"></div>
            
        </div>
        <div class="row row-content align-items-center">
            <h2 class="col-12">US COVID Cases Daily Increase: Forecast</h2>
            <div class="col loading">
                <div class="d-flex flex-row">
                    <div class="p-2">Loading Graph....</div>
                    <div class="p-2">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>                  
                </div>
            </div>

            <div class="col-12" id="curve_chart_forecast" style="width: 1000px; height: 500px"></div>
        </div>

    </div>



    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="#">Forecast </a></li>
                        <li><a href="../components/vis.html">Visualization </a></li>
                        <li><a href="../components/news.html">News </a></li>
                        <li><a href="../components/research.html">Research </a></li>
                        <li><a href="../components/policy.html">Policy </a></li>
                        <li><a href="../components/market.html">Market </a></li>
                        <li><a href="../components/who_updates.html">WHO Updates </a></li>
                        <li><a href="../components/charts.html">Charts </a></li>
                    </ul>
                </div>
                <div class="col col-sm">
                    <div align="center">
                        <h5>Who We Are</h5>
                        <address>
                          Blue Devils aiming to win HackDuke2020!
                          <hr>
                          <ul class="list-unstyled">
                            <h6>Find Us At (Alphabetical Order)</h6>
                            <li><a href="mailto:stuart.tsao@duke.edu">stuart.tsao@duke.edu</a></li>
                            <li><a href="mailto:shiyou.wu@duke.edu">shiyou.wu@duke.edu</a></li>
                            <li><a href="mailto:yingjie.xu@duke.edu">yingjie.xu@duke.edu</a></li>
                            <li><a href="mailto:feng.yan@duke.edu">feng.yan@duke.edu</a></li>
                            <li><a href="mailto:kaicheng.yu@duke.edu">kaicheng.yu@duke.edu</a></li>
                          </ul>                      
                       </address>    
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p class="text-justify">© Copyright 2020 CovHub Team</p>
                </div>
           </div>
        </div>
    </footer>

    <script src="../assets/js/lib/jquery.min.js"></script>
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/scraper.js"></script>
    <script type="text/javascript" src="../assets/js/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.1/dist/tf.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../assets/js/forecast.js"></script>
</body>
</html>