<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Investigative journalism</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="icon" type="image/jpg" href="../assets/images/icon.jpg" sizes="16x16">
  <link rel="stylesheet" href="../assets/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap-social.min.css">
  <link id="nytg-rendered-css" href="../assets/stylesheets/style.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target='#Navbar'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="../index.html"><span class="fa fa-home fa-lg"></span> Home </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="../components/forecast.html"><span
          class="fa fa-info fa-lg"></span> Forecast </a></li>
        <li class="nav-item"><a class="nav-link" href="../components/vis.html"><span
          class="fa fa-chart-area fa-lg"></span> Visualization </a></li>
        <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-newspaper fa-lg"></span> News </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="../components/research.html"><span
          class="fa fa-book fa-lg"></span> Research </a></li>
        <li class="nav-item"><a class="nav-link" href="../components/policy.html"><span
          class="fa fa-balance-scale fa-lg"></span> Policy </a></li>
        <li class="nav-item"><a class="nav-link" href="../components/market.html"><span
          class="fa fa-dollar-sign fa-lg"></span> Market </a></li>
        <li class="nav-item"><a class="nav-link" href="../components/who_updates.html"><span
          class="fa fa-hospital fa-lg"></span> WHO Updates </a></li>
        <li class="nav-item"><a class="nav-link" href="../components/charts.html"><span
          class="fa fa-chart-bar fa-lg"></span> Charts </a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- current college data -->
<div class="container">
  <br><br>
  <div class="row align-items-center">
    <ol class="col-12 breadcrumb">
      <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
      <li class="breadcrumb-item active">News Updates</li>
    </ol>
    <div class="col-12">
      <h2>Latest College News on Covid-19</h2>
      <section class="container-intro">
        <div class="g-container g-topline" id>
          <p class="g-body"></p>
          <div id="casestop">
            <span id="toplinecases" class="topnumber">321,000+</span>
            <br>
            <span id="casestext">Cases</span>
          </div>
          <div id="dividertop">
            <div></div>
          </div>
          <div id="schoolstop">
            <span id="toplineschools" class="topnumber">1700+</span>
            <br>
            Colleges
          </div>
          <p></p>
        </div>
      </section>
    </div>
  </div>

  <!--news -->
  <div class="row">
    <!--latest news-->
    <div class="col-lg-8 col-sm-12 align-itens-left">
      <p>Tens of thousands of new coronavirus cases continue to emerge on college campuses.</p>
      <p>Check out the latest college pandemic news👇</p>
      <blockquote class="embedly-card">
        <h4><a href="https://news.google.com/rss/search?q={college covid}">College News</a></h4>
        <p>Latest College Epidemic News</p>
      </blockquote>
    </div>
    <!--college news search-->
    <div class="col-lg-4 col-sm-12">
      <form class='form-inline mt-8 mt-md-0'>
        <p>Check out what's happening in your school? 🤔</p>
        <input class='search' type='text' placeholder='College Name' aria-label='Search'>
        <button class='btn btn-outline-primary searchTest'>Search</button>
        <div class="test">
          <blockquote class="embedly-card">
            <h4><a href="https://news.google.com/rss/search?q={Duke Covid}">College News</a></h4>
            <p>Latest College Epidemic News</p>
          </blockquote>
        </div>
      </form>
    </div>
  </div>
</div>


</article>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-1 col-sm-2">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="../index.html">Home</a></li>
          <li><a href="../components/forecast.html">Forecast </a></li>
          <li><a href="../components/vis.html">Visualization </a></li>
          <li><a href="#">News </a></li>
          <li><a href="../components/research.html">Research </a></li>
          <li><a href="../components/policy.html">Policy </a></li>
          <li><a href="../components/market.html">Market </a></li>
          <li><a href="../components/who_updates.html">WHO Updates </a></li>
          <li><a href="../components/charts.html">Charts </a></li>
        </ul>
      </div>
      <div class="col col-sm">
        <div align="center">
          <h5>Who We Are</h5>
          <address>
            Blue Devils aiming to win HackDuke2020!
            <hr>
            <ul class="list-unstyled">
              <h6>Find Us At (Alphabetical Order)</h6>
              <li><a href="mailto:feng.yan@duke.edu">feng.yan@duke.edu</a></li>
              <li><a href="mailto:stuart.tsao@duke.edu">stuart.tsao@duke.edu</a></li>
              <li><a href="mailto:shiyou.wu@duke.edu">shiyou.wu@duke.edu</a></li>
              <li><a href="mailto:yingjie.xu@duke.edu">yingjie.xu@duke.edu</a></li>
              <li><a href="mailto:kaicheng.yu@duke.edu">kaicheng.yu@duke.edu</a></li>
            </ul>
          </address>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>© Copyright 2020 HackDuke Team</p>
      </div>
    </div>
  </div>
</footer>

<script src="../assets/js/lib/jquery.min.js"></script>
<script src="../assets/js/lib/popper.min.js"></script>
<script src="../assets/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/js/scraper.js"></script>
<script type="text/javascript" src="../assets/js/utils.js"></script>
<script async src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<script>
  var init = 321000;

  setInterval(() => {
    var a = Math.round(Math.random() * 5);
    var b = (init + a).toString();
    init = init + a;
    document.querySelector('#toplinecases').innerText = b;
  }, 1000);

  document.querySelector('.searchTest').addEventListener('click', search);

  function search(e) {
    e.preventDefault();
    document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
    const searchValue = document.querySelector('.search').value;
    document.querySelector('.test').innerHTML = `
    <blockquote class="embedly-card">
      <h4><a href="https://news.google.com/rss/search?q=${searchValue}">College News </a></h4>
      <p>Latest College Epidemic News</p >
    </blockquote>
  `
  }
</script>
</body>
</html>
