<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Policy Updates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/jpg" href="../assets/images/icon.jpg" sizes="16x16">
    <link rel="stylesheet" href="../assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap-social.min.css">

</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target='#Navbar'>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html"><span class="fa fa-home fa-lg"></span> Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/forecast.html"><span class="fa fa-info fa-lg"></span> Forecast </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/vis.html"><span class="fa fa-chart-area fa-lg"></span> Visualization </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/news.html"><span class="fa fa-newspaper fa-lg"></span> News </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/research.html"><span class="fa fa-book fa-lg"></span> Research </a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-balance-scale fa-lg"></span> Policy </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/market.html"><span class="fa fa-dollar-sign fa-lg"></span> Market </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/who_updates.html"><span class="fa fa-hospital fa-lg"></span> WHO Updates </a></li>
                    <li class="nav-item active"><a class="nav-link" href="../components/charts.html"><span class="fa fa-chart-bar fa-lg"></span> Charts </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="row align-items-center">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item active">Crisis-time Policies</li>
            </ol>
        </div>
         <!--news -->
         <div class="row">
            <h2>Latest College Policies on Covid Controlling</h2>
            <!--latest news-->
            <div class="col-12 align-itens-center">
                <p padding="100px;">In the event of an influenza pandemic, colleges and universities will play an integral role in protecting the health and safety of students, employees and their families. 
                    Colleges across the states are taking active control over the spread of the pandemic. Policies change all the time and it is important that you as a college student know what to do next. You may check out the latest policies and other related topics by typing in your school name and clicking on the topic buttons.</p>
                <p>Click on the ones you are most concerned about and see related policies!</p>
                <div align="center">
                    <button type="button" class="btn btn-primary searchS" onclick="myFunction_S()" style="margin:20px 5px;">Spring 2021</button>
                    <button type="button" class="btn btn-primary searchR" onclick="myFunction_R()" style="margin:20px 5px;">Remote Learning</button>
                    <button type="button" class="btn btn-primary searchC" onclick="myFunction_C()" style="margin:20px 5px;">Club & Social Life</button>
                    <button type="button" class="btn btn-primary searchSt" onclick="myFunction_St()" style="margin:20px 5px;">Stories</button>
                    <button type="button" class="btn btn-primary searchM" onclick="myFunction_M()" style="margin:20px 5px;">Masks</button>
                    
                    <input class='search' type='text' placeholder='College Name' aria-label='Search'>
                    <button type='button' class='btn btn-outline-primary searchT' onclick="search()">Search</button>
                    <div class="test">
                    <blockquote class="embedly-card">
                        <h4><a href="https://news.google.com/rss/search?q={Duke Policy}">College Policies</a></h4>
                        <p>Remember to put your mask on!</p>
                    </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">c
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../components/forecast.html">Forecast </a></li>
                        <li><a href="../components/vis.html">Visualization </a></li>
                        <li><a href="../components/news.html">News </a></li>
                        <li><a href="../components/research.html">Research </a></li>
                        <li><a href="#">Policy </a></li>
                        <li><a href="../components/market.html">Market </a></li>
                        <li><a href="../components/who_updates.html">WHO Updates </a></li>
                        <li><a href="../components/charts.html">Charts </a></li>
                    </ul>
                </div>
                <div class="col col-sm">
                    <div align="center">
                        <h5>Who We Are</h5>
                        <address>
                          Blue Devils aiming to win HackDuke2020!
                          <hr>
                          <ul class="list-unstyled">
                            <h6>Find Us At (Alphabetical Order)</h6>
                            <li><a href="mailto:feng.yan@duke.edu">feng.yan@duke.edu</a></li>
                            <li><a href="mailto:stuart.tsao@duke.edu">stuart.tsao@duke.edu</a></li>
                            <li><a href="mailto:shiyou.wu@duke.edu">shiyou.wu@duke.edu</a></li>
                            <li><a href="mailto:yingjie.xu@duke.edu">yingjie.xu@duke.edu</a></li>
                            <li><a href="mailto:kaicheng.yu@duke.edu">kaicheng.yu@duke.edu</a></li>
                          </ul>                      
                       </address>    
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 HackDuke Team</p>
                </div>
           </div>
        </div>
    </footer>

    <script src="../assets/js/lib/jquery.min.js"></script>
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/scraper.js"></script>
    <script type="text/javascript" src="../assets/js/utils.js"></script>
    <script async src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <script>
        document.querySelector('.searchS').addEventListener('click', myFunction_S);
        function myFunction_S(){
            document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
            document.querySelector('.test').innerHTML= `           
            <blockquote class="embedly-card">
            <h4><a href="https://news.google.com/rss/search?q={Duke Spring}">College Policies Loading </a></h4>
            <p>Remember to put your mask on!</p >
            </blockquote>
            `
        }
        document.querySelector('.searchR').addEventListener('click', myFunction_R);
        function myFunction_R(){
            document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
            document.querySelector('.test').innerHTML= `           
            <blockquote class="embedly-card">
            <h4><a href="https://news.google.com/rss/search?q={Duke Remote}">College Policies Loading </a></h4>
            <p>Remember to put your mask on!</p >
            </blockquote>
            `
        }
        document.querySelector('.searchSt').addEventListener('click', myFunction_St);
        function myFunction_St(){
            document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
            document.querySelector('.test').innerHTML= `           
            <blockquote class="embedly-card">
            <h4><a href="https://news.google.com/rss/search?q={Covid Story}">College Policies Loading </a></h4>
            <p>Remember to put your mask on!</p >
            </blockquote>
            `
        }
        document.querySelector('.searchC').addEventListener('click', myFunction_C);
        function myFunction_C(){
            document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
            document.querySelector('.test').innerHTML= `           
            <blockquote class="embedly-card">
            <h4><a href="https://news.google.com/rss/search?q={Duke Clubs}">College Policies Loading </a></h4>
            <p>Remember to put your mask on!</p >
            </blockquote>
            `
        }
        document.querySelector('.searchB').addEventListener('click', myFunction_M);
        function myFunction_M(){
            document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
            document.querySelector('.test').innerHTML= `           
            <blockquote class="embedly-card">
            <h4><a href="https://news.google.com/rss/search?q={Duke Masks}">College Policies Loading</a></h4>
            <p>Remember to put your mask on!</p >
            </blockquote>
            `
        }
        
        document.querySelector('.searchT').addEventListener('click', search);
        function search() {
            document.querySelector('.test').removeChild(document.querySelector('.test').children[0]);
            const searchValue = document.querySelector('.search').value;
            document.querySelector('.test').innerHTML = `
            <blockquote class="embedly-card">
                <h4><a href="https://news.google.com/rss/search?q=${searchValue}">College Policies Loading</a></h4>
            <p>Remember to put your mask on!</p >
            </blockquote>
            `
        }
    </script>
</body>
</html>