<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Scientific research</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/jpg" href="../assets/images/icon.jpg" sizes="16x16">
    <link rel="stylesheet" href="../assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap-social.min.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target='#Navbar'>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html"><span class="fa fa-home fa-lg"></span> Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/forecast.html"><span class="fa fa-info fa-lg"></span> Forecast </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/vis.html"><span class="fa fa-chart-area fa-lg"></span> Visualization </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/news.html"><span class="fa fa-newspaper fa-lg"></span> News </a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-book fa-lg"></span> Research </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/policy.html"><span class="fa fa-balance-scale fa-lg"></span> Policy </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/market.html"><span class="fa fa-dollar-sign fa-lg"></span> Market </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/who_updates.html"><span class="fa fa-hospital fa-lg"></span> WHO Updates </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/charts.html"><span class="fa fa-chart-bar fa-lg"></span> Charts </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="row align-items-center">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item active">Research</li>
            </ol>
        </div>

        <!--research -->
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12">
                <h2>Novel Coronavirus Research Reports from Top Research Centers</h2>
                <p>Researches are crucial to our mutual hope to end this pandemic soon.</p>
                <p>Follow the latest trend in research directions to stay tuned.</p>
                
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="advicehead">
                            <h3 class="mb-0">
                                <a data-toggle="collapse" data-target="#advice">
                                <small>Center for Disease Control</small>
                            </a>
                            </h3>
                        </div>
                        <div class="collapse show" id="advice" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.cdc.gov/mmwr/Novel_Coronavirus_Reports.html">December 4, 2020 (EARLY RELEASE)</a></h4>
                                    <p>MMWR is launching the MMWR COVID-19 Weekly Briefing podcast, a brief weekly podcast series to highlight the latest scientific information from the COVID-19 response. </p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="guidancehead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#guidance">
                                    <small>Nature</small>
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="guidance" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.nature.com/collections/hajgidghjb">Latest SARS-CoV-2/COVID-19 research</a></h4>
                                    <p>To support urgent research to combat the ongoing outbreak of COVID-19, caused by the novel coronavirus SARS-CoV-2, the editorial teams at Nature Research have curated a collection of relevant articles.</p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="reportshead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#reports">
                                <small>Science</small>
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="reports" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.sciencemag.org/collections/coronavirus">Coronavirus: Research, Commentary, and News</a></h4>
                                    <p>The Science journals are striving to provide the best and most timely research, analysis, and news coverage of COVID-19 and the coronavirus that causes it. All content is free to access.</p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="researchhead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#research">
                                <small>NEJM Group</small>
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="research" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.nejm.org/coronavirus">Repurposed Antiviral Drugs for Covid-19h</a></h4>
                                    <p>Vaccine trials are heading into phases 2 and 3, and the FDA’s earlier-year reliance on emergency use authorizations (EUAs) under perceived political pressures to deliver pandemic solutions is raising concerns about the integrity of approval processes for vaccines potentially offered to millions of otherwise healthy people.</p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="researchhead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#research">
                                <small>The Lancet</small>
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="research" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.thelancet.com/coronavirus">ARTICLES
                                        Metformin and risk of mortality in patients hospitalised with COVID-19</a></h4>
                                    <p>To assist health workers and researchers working under challenging conditions to bring this outbreak to a close, The Lancet has created a Coronavirus Resource Centre. This resource brings together new 2019 novel coronavirus disease (COVID-19) content from across The Lancet journals as it is published.</p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    


    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../components/forecast.html">Forecast </a></li>
                        <li><a href="../components/vis.html">Visualization </a></li>
                        <li><a href="../components/news.html">News </a></li>
                        <li><a href="#">Research </a></li>
                        <li><a href="../components/policy.html">Policy </a></li>
                        <li><a href="../components/market.html">Market </a></li>
                        <li><a href="../components/who_updates.html">WHO Updates </a></li>
                        <li><a href="../components/charts.html">Charts </a></li>
                    </ul>
                </div>
                <div class="col col-sm">
                    <div align="center">
                        <h5>Who We Are</h5>
                        <address>
                          Blue Devils aiming to win HackDuke2020!
                          <hr>
                          <ul class="list-unstyled">
                            <h6>Find Us At (Alphabetical Order)</h6>
                            <li><a href="mailto:feng.yan@duke.edu">feng.yan@duke.edu</a></li>
                            <li><a href="mailto:stuart.tsao@duke.edu">stuart.tsao@duke.edu</a></li>
                            <li><a href="mailto:shiyou.wu@duke.edu">shiyou.wu@duke.edu</a></li>
                            <li><a href="mailto:yingjie.xu@duke.edu">yingjie.xu@duke.edu</a></li>
                            <li><a href="mailto:kaicheng.yu@duke.edu">kaicheng.yu@duke.edu</a></li>
                          </ul>                      
                       </address>    
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 HackDuke Team</p>
                </div>
           </div>
        </div>
    </footer>

    <script src="../assets/js/lib/jquery.min.js"></script>
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/js/lib/moment.min.js"></script>
    <script src="../assets/js/lib/jquery.rss.min.js"></script>
    <script>
            jQuery(function($) {
                $("#rss-feeds").rss("http://export.arxiv.org/rss/math.QA")
            });
      </script>
    <script async src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  
</body>
</html>