<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Detailed Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/jpg" href="../assets/images/icon.jpg" sizes="16x16">
    <link rel="stylesheet" href="../assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap-social.min.css">


    <style>
      body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      .heading {
        position: absolute;
        text-align: center;
        top: 30%;
        width: 100%;
      }
      .heading h1 {
        color: limegreen;
        font-size: 70px;
      }
      .heading h3 {
        color: wheat;
        font-size: 20px;
      }
      #particles-js {
        background: white;
        height: 100vh;
      }
    </style>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script src="https://unpkg.com/konva@4.2.2/konva.min.js"></script>
      <script src="../assets/js/chart.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
      <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target='#Navbar'>
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navbar">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="../index.html"><span class="fa fa-home fa-lg"></span> Home </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/forecast.html"><span class="fa fa-info fa-lg"></span> Forecast </a></li>
                  <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-chart-area fa-lg"></span> Visualization </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/news.html"><span class="fa fa-newspaper fa-lg"></span> News </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/research.html"><span class="fa fa-book fa-lg"></span> Research </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/policy.html"><span class="fa fa-balance-scale fa-lg"></span> Policy </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/market.html"><span class="fa fa-dollar-sign fa-lg"></span> Market </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/who_updates.html"><span class="fa fa-hospital fa-lg"></span> WHO Updates </a></li>
                  <li class="nav-item"><a class="nav-link" href="../components/charts.html"><span class="fa fa-chart-bar fa-lg"></span> Charts </a></li>
              </ul>
          </div>
      </div>
  </nav>

    <div class="container">
      <div class="row row-content align-items-center">
          <ol class="col-12 breadcrumb">
              <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
              <li class="breadcrumb-item active">Visualization</li>
          </ol>
          <div class="col-12">
            <h2>Visualization</h2>
          </div>
      </div>
    </div>

    <main role="main" class="container mt-4">
      <div id="simulator" class="mb-4">
        <div class="row">
          <h1 data-translate="title">Epidemic simulator</h1>
        </div>
        <div class="row">
          <div class="alert alert-danger col-sm-3" role="alert">
            <span id="total_infected"></span> <span data-translate="infected">infected</span><br>
          </div>
          <div class="alert alert-light border border-dark col-sm-3" role="alert">
            <span id="total_healthy"></span> <span data-translate="healthy">healthy</span><br>
          </div>
          <div class="alert alert-primary col-sm-2" role="alert">
            <span id="total_immune"></span> <span data-translate="cured">cured</span><br>
          </div>
          <div class="alert alert-dark col-sm-4" role="alert">
            <span id="total_dead"></span> <span data-translate="dead">deaths</span><br>
            <span data-translate="of_which">of which</span> <span id="total_dead_for_intensive_care"></span> <span data-translate="for_missing_beds">for missing beds in intensive care</span><br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div id="stage_container" class="border rounded border-dark" style="min-height: 500px;"></div>
          </div>
          <div class="col-sm-6">
            <canvas id="chart" width="400" height="400">Your browser is not compatible</canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h6><span data-translate="quarantine">Quarantine</span> (<span id="total_in_quarantine"></span> <span data-translate="people">people</span>)</h6>
            <div id="stage_quarantine_container" class="border rounded border-dark" style="min-height: 100px;"></div>
          </div>
          <div class="col-sm-4">
            <h6><span data-translate="intensive_care">Intensive care</span> (<span id="total_in_intensive_care"></span> / <span id="max_total_in_intensive_care"></span> <span data-translate="people">people</span>)</h6>
            <div id="stage_intensive_care_container" class="border rounded border-dark" style="min-height: 100px;"></div>
          </div>
          <div class="col-sm-4">
            <h6><span data-translate="Dead">Dead</span></h6>
            <div id="stage_dead_container" class="border rounded border-dark" style="min-height: 100px;"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3><span data-translate="simulation_parameters">Simulation parameters</span></h3>
      </div>
      <div class="row mb-5">
        <form class="col-sm-12" id="control_form">
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="control_initial_population" data-translate="simulation_initial_population">Initial population</label>
              <input type="number" id="control_initial_population" class="form-control" aria-describedby="control_initial_population_help">
              <small id="control_initial_population_help" class="form-text text-muted" data-translate="simulation_initial_population_help">
                Number of total people
              </small>
            </div>
            <div class="col-sm-4">
              <label for="control_initial_infected" data-translate="simulation_initial_infected">Initial infected</label>
              <input type="number" id="control_initial_infected" class="form-control" aria-describedby="control_initial_infected_help">
              <small id="control_initial_infected_help" class="form-text text-muted" data-translate="simulation_initial_infected_help">
                Number of initial people infected
              </small>
            </div>
            <div class="col-sm-4">
              <label for="control_people_speed" data-translate="simulation_people_speed">People speed</label>
              <input type="range" id="control_people_speed" class="form-control-range" aria-describedby="control_people_speed_help">
              <small id="control_people_speed_help" class="form-text text-muted" data-translate="simulation_people_speed_help">
                Speed with which people move.<br>
                Decrease it to simulate lockdown
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="control_desease_duration" data-translate="simulation_desease_duration">Desease duration</label>
              <input type="number" id="control_desease_duration" class="form-control" aria-describedby="control_desease_duration_help">
              <small id="control_desease_duration_help" class="form-text text-muted" data-translate="simulation_desease_duration_help">
                How many days before dying or healing
              </small>
            </div>
            <div class="col-sm-4">
              <label for="control_infection_rate"><span data-translate="simulation_infection_rate">Infection rate</span>: <span id="control_infection_rate_text"></span>%</label>
              <input type="range" id="control_infection_rate" class="form-control-range" aria-describedby="control_infection_rate_help">
              <small id="control_infection_rate_help" class="form-text text-muted" data-translate="simulation_infection_rate_help">
                The probability for an infected to infect another person in the nearby
              </small>
            </div>
            <div class="col-sm-4">
              <label for="control_lethality_rate"><span data-translate="simulation_lethality">Lethality</span>: <span id="control_lethality_rate_text"></span>%</label>
              <input type="range" id="control_lethality_rate" class="form-control-range" aria-describedby="control_lethality_rate_help">
              <small id="control_lethality_rate_help" class="form-text text-muted" data-translate="simulation_lethality_help">
                The probability for an infected to die
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="control_quarantine">
                <label class="custom-control-label" for="control_quarantine" data-translate="simulation_activate_quarantine">Activate quarantine</label>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="control_desease_duration" data-translate="simulation_days_before_quarantine">Days before quarantine</label>
              <input type="number" id="control_days_to_quarantine" class="form-control" aria-describedby="control_desease_duration_help">
              <small id="control_desease_duration_help" class="form-text text-muted" data-translate="simulation_days_before_quarantine_help">
                How many days before showing symphtoms and going in quarantine
              </small>
            </div>
            <div class="col-sm-4">
              <label for="control_asymptomatic_rate"><span data-translate="simulation_asymptomatic_rate">Asymptomatic rate</span>: <span id="control_asymptomatic_rate_text"></span>%</label>
              <input type="range" id="control_asymptomatic_rate" class="form-control-range" aria-describedby="control_asymptomatic_rate_help">
              <small id="control_asymptomatic_rate_help" class="form-text text-muted" data-translate="simulation_asymptomatic_rate_help">
                How many, among people who get the virus, don't go in quarantine (maybe for not showing symphtoms)
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="control_intensive_care_rate"><span data-translate="simulation_icu_rate">Intensive care rate</span>: <span id="control_intensive_care_rate_text"></span>%</label>
              <input type="range" id="control_intensive_care_rate" class="form-control-range" aria-describedby="control_intensive_care_rate_help">
              <small id="control_intensive_care_rate_help" class="form-text text-muted" data-translate="simulation_icu_rate_help">
                How many, among people who get the virus, need intensive care to not die
              </small>
            </div>
            <div class="col-sm-4">
              <label for="control_intensive_care_beds" data-translate="simulation_icu_every_100">Number of IC beds every 100 people</label>
              <input type="number" id="control_intensive_care_beds" class="form-control" aria-describedby="control_intensive_care_beds_help">
              <small id="control_intensive_care_beds_help" class="form-text text-muted" data-translate="simulation_icu_every_100_help">
                E.g.: if there are 2 beds for 200 people, put "1" (1 bed every 100 people).<br>If there are no beds available, people who need IC will die
              </small>
            </div>
          </div>
          <button type="button" class="btn btn-secondary" id="control_stop" data-translate='stop_simulation'>Stop simulation</button>
          <button type="button" class="btn btn-primary" id="control_start" data-translate='start_simulation'>Start simulation</button>
        </form>
      </div>
  
    </main>

    <footer class="footer">
      <div class="container">
          <div class="row">             
              <div class="col-4 offset-1 col-sm-2">
                  <h5>Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="../index.html">Home</a></li>
                      <li><a href="../components/forecast.html">Forecast </a></li>
                      <li><a href="../components/vis.html">Visualization </a></li>
                      <li><a href="../components/news.html">News </a></li>
                      <li><a href="../components/research.html">Research </a></li>
                      <li><a href="#">Policy </a></li>
                      <li><a href="../components/market.html">Market </a></li>
                      <li><a href="../components/who_updates.html">WHO Updates </a></li>
                      <li><a href="../components/charts.html">Charts </a></li>
                  </ul>
              </div>
              <div class="col col-sm">
                  <div style="align-content:center">
                      <h5>Who We Are</h5>
                      <address>
                        Blue Devils aiming to win HackDuke2020!
                        <hr>
                        <ul class="list-unstyled">
                          <h6>Find Us At (Alphabetical Order)</h6>
                          <li><a href="mailto:feng.yan@duke.edu">feng.yan@duke.edu</a></li>
                          <li><a href="mailto:stuart.tsao@duke.edu">stuart.tsao@duke.edu</a></li>
                          <li><a href="mailto:shiyou.wu@duke.edu">shiyou.wu@duke.edu</a></li>
                          <li><a href="mailto:yingjie.xu@duke.edu">yingjie.xu@duke.edu</a></li>
                          <li><a href="mailto:kaicheng.yu@duke.edu">kaicheng.yu@duke.edu</a></li>
                        </ul>                      
                     </address>    
                  </div>
              </div>
         </div>
         <div class="row justify-content-center">             
              <div class="col-auto">
                  <p>© Copyright 2020 HackDuke Team</p>
              </div>
         </div>
      </div>
  </footer>



    <script src="../assets/js/lib/jquery.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/listeners.js"></script>
    <script src="../assets/js/chart.js"></script>
  

  


    
    <!-- <script src="../assets/js/particles.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/stats.js"></script>
    <script>
      var count_particles, stats, update;
      stats = new Stats();
      stats.setMode(0);
      stats.domElement.style.position = "absolute";
      stats.domElement.style.left = "0px";
      stats.domElement.style.top = "0px";
      document.body.appendChild(stats.domElement);
      count_particles = document.querySelector(".js-count-particles");
      update = function () {
        stats.begin();
        stats.end();
        if (
          window.pJSDom[0].pJS.particles &&
          window.pJSDom[0].pJS.particles.array
        ) {
          count_particles.innerText =
            window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
      };
      requestAnimationFrame(update);
    </script> -->
  </body>
</html>
