<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>World Health Organization Updates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/jpg" href="../assets/images/icon.jpg" sizes="16x16">
    <link rel="stylesheet" href="../assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../assets/stylesheets/lib/bootstrap-social.min.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target='#Navbar'>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html"><span class="fa fa-home fa-lg"></span> Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/forecast.html"><span class="fa fa-info fa-lg"></span> Forecast </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/vis.html"><span class="fa fa-chart-area fa-lg"></span> Visualization </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/news.html"><span class="fa fa-newspaper fa-lg"></span> News </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/research.html"><span class="fa fa-book fa-lg"></span> Research </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/policy.html"><span class="fa fa-balance-scale fa-lg"></span> Policy </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/market.html"><span class="fa fa-dollar-sign fa-lg"></span> Market </a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-hospital fa-lg"></span> WHO Updates </a></li>
                    <li class="nav-item"><a class="nav-link" href="../components/charts.html"><span class="fa fa-chart-bar fa-lg"></span> Charts </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="row align-items-center">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item active">WHO Updates</li>
            </ol>
        </div>
        <div class="row row-content">
            <h2 class="col-12">Updates From The World Health Organization</h2>

            <div class="col-12">
                <section class="container-intro">
                    <br><br>
                    <p class="text-justify">Working with 194 Member States, across six regions, and from more than 150 offices, WHO staff are united in a shared commitment to achieve better health for everyone, everywhere. No matter what conspiracy theories are flowing on the Internet, we firmly believe that information shared and guidelines issued by WHO are instrumental in joining the efforts of every individual country to combat the virus.</p>
                    <br><br>
                    <blockquote class="embedly-card">
                        <h4><a href="https://www.who.int/">Home</a></h4>
                        <p class="text-justify">WHO's primary role is to direct international health within the United Nations' system and to lead partners in global health responses.</p>
                    </blockquote>
                </section>
    
            </div>
        </div>
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12 col-md-12">
                <h2>Detailed WHO Instructions</h2>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="advicehead">
                            <h3 class="mb-0">
                                <a data-toggle="collapse" data-target="#advice">
                            Advice <small>for the Public</small>
                            </a>
                            </h3>
                        </div>
                        <div class="collapse show" id="advice" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Advice</a></h4>
                                    <p class="text-justify">If COVID-19 is spreading in your community, stay safe by taking some simple precautions, such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds, cleaning your hands, and coughing into a bent elbow or tissue. Check local advice where you live and work. Do it all!</p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="guidancehead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#guidance">
                                    <small>Country and Technical</small> Guidance
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="guidance" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance">Guidance</a></h4>
                                    <p class="text-justify">To view all of WHO’s country and technical guidance on COVID-19 please visit our publications hub
                                    </p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="reportshead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#reports">
                                Situation Reports
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="reports" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/">Situation Reports</a></h4>
                                    <p class="text-justify">The Weekly Epidemiological Update provides an overview of the global, regional and country-level COVID-19 cases and deaths, highlighting key data and trends; as well as other pertinent epidemiological information concerning the COVID-19 pandemic.

                                        The COVID-19 Weekly Operational Update reports on WHO and partners’ actions in response to the pandemic.
                                    </p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="researchhead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#research">
                                Research <small>and</small> Development
                            </a>
                            </h3>
                        </div>
                        <div class="collapse" id="research" data-parent="#accordion">
                            <div class="card-body">
                                <blockquote class="embedly-card">
                                    <h4><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/global-research-on-novel-coronavirus-2019-ncov">Research</a></h4>
                                    <p class="text-justify">WHO is bringing the world’s scientists and global health professionals together to accelerate the research and development process, and develop new norms and standards to contain the spread of the coronavirus pandemic and help care for those affected.

                                        The R&D Blueprint has been activated to accelerate diagnostics, vaccines and therapeutics for this novel coronavirus. 
                                        
                                        The solidarity of all countries will be essential to ensure equitable access to COVID-19 health products.
                                    </p>
                                </blockquote>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../components/forecast.html">Forecast </a></li>
                        <li><a href="../components/vis.html">Visualization </a></li>
                        <li><a href="../components/news.html">News </a></li>
                        <li><a href="../components/research.html">Research </a></li>
                        <li><a href="../components/policy.html">Policy </a></li>
                        <li><a href="../components/market.html">Market </a></li>
                        <li><a href="#">WHO Updates </a></li>
                        <li><a href="../components/charts.html">Charts </a></li>
                    </ul>
                </div>
                <div class="col col-sm">
                    <div align="center">
                        <h5>Who We Are</h5>
                        <address>
                          Blue Devils aiming to win HackDuke2020!
                          <hr>
                          <ul class="list-unstyled">
                            <h6>Find Us At (Alphabetical Order)</h6>
                            <li><a href="mailto:stuart.tsao@duke.edu">stuart.tsao@duke.edu</a></li>
                            <li><a href="mailto:shiyou.wu@duke.edu">shiyou.wu@duke.edu</a></li>
                            <li><a href="mailto:yingjie.xu@duke.edu">yingjie.xu@duke.edu</a></li>
                            <li><a href="mailto:feng.yan@duke.edu">feng.yan@duke.edu</a></li>
                            <li><a href="mailto:kaicheng.yu@duke.edu">kaicheng.yu@duke.edu</a></li>
                          </ul>                      
                       </address>    
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p class="text-justify">© Copyright 2020 CovHub Team</p>
                </div>
           </div>
        </div>
    </footer>
  
    <script src="../assets/js/lib/jquery.min.js"></script>
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <script async src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</body>
</html>